.body {
    width: 100%;
    background-color: rgb(133, 219, 219);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: center;
}
.container-mem {
    width: 100%;
    height: 100%;
}
.mem-name {
    font-weight: bold;
    font-size: 28px;
    margin: 0px;

}

.mem-name {
    color: blue;
}
.mem-name:hover {
    color: black;
}
.container-img {
    display: none;
    width: 400px;
    height: 400px;
}

.cross {
    width: 30px;
    height: 30px;
    background-size: cover;
    visibility: hidden;
}

.container:hover .container-mem .cross {
    background-image: url("./icons8-крестик-78.png");
    visibility: visible;
}

.container .container-mem:hover .cross {
    background-image: url("./icons8-галочка-50.png");
    background-size: cover;
    visibility: visible;
}
.container-mem:hover .container-img {
    display: flex;
}
.mem {
    width: 100%;
}


.title-container {
    display: flex;
    height: 80px;
    justify-content: space-between;
}

@media only screen and (max-width: 820px) {
    .body {
        width: 820px;
    }
    .mem-name {
        font-size: 16px;
        overflow-wrap: break-word;
    }
    .container-img {
        width: 250px;
        height: 250px;
    }

}

@media only screen and (max-width: 320px) {
    .mem-name {
        font-size: 18px;
        overflow-wrap: break-word;
    }
    .container-img {
        width: 200px;
        height: 200px;
    }

}